
*{
    padding: 10;
    margin: 10;
    box-sizing: border-box  ;
}
body{
    height: 100%;
    width: 100%;
    background-color: #f8f6f6;
}

/* .makered{
    color: red;
    font-size: 100px;
}
.hh{
    height: 50px;
    width: 50px;
    background-color: rgb(82, 230, 176);
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

}
img{
    
    width: 400px;

} */
/* body{
    padding: 10px;
} */
/* .tabs{
    display: flex;
    gap: 20px;
}
.tab{
    padding: 10px 20px;
    background-color: rgb(167, 222, 239);
    border: 2px solid black;
    font-weight: 700;
} */
/* h3{
    margin-top: 40px;
    width: 50%;
    display: none;
}
#container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#downloadcapsul{

    height: 10px;
    width: 300px;
    background-color:rgb(206, 201, 201);
   
    border-radius: 100px;
}
#progress{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s ;
    width: 10%;
    height: 100%;
    border-radius: 100px;
    background-color: green;
}
#h3{
    opacity: 0;
} */

/* textarea{
    width:400px;
    height: 130px;
    font-size: 18px;
    font-weight: 800;
    border: 1px solid #dadada;
    outline-color: blue;
    padding: 10px;
} */


/* .container{
    padding: 10vw 17vw;
}
input{
    width: 100%;
    padding: 12px 22px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid #dadada;
    outline-color: royalblue;
}
img{
    width: 7vw;
    height: 7vw;
    background-color: red;
    border: 1px solid #dadada;
    border-radius: 50%;
    object-fit: cover;
}
.people{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}
.person{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */


.makered{
    color: red;
    font-size: 100px;

}
img{
    height: 400px;
    width: 400px;
}